# App
APP_TITLE=fastapi-template
APP_VERSION=0.0.1
APP_ROOT_PATH=/api
APP_DEBUG=true
APP_PRODUCTION=false
APP_SWAGGER=true
APP_LOG_LEVEL=DEBUG

# Server
SERVER_TYPE=granian
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_WORKERS=auto
SERVER_THREADS=1
SERVER_LOG=false
SERVER_METHODS=["*"]
SERVER_HEADERS=["*"]
SERVER_ORIGINS=["*"]

# Database
DB_URI=postgresql+asyncpg://{}:{}@{}:{}/{}
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=54522
DB_CONNECTION_POOL_SIZE=10
DB_CONNECTION_MAX_OVERFLOW=90
DB_CONNECTION_POOL_PRE_PING=true

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=63122
REDIS_PASSWORD=

# NATS
NATS_SERVERS=["nats://127.0.0.1:4222"]
NATS_USER=
NATS_PASSWORD=

# Cipher (JWT + AES). For HS256 set SECRET_KEY == PUBLIC_KEY (base64).
CIPHER_ALGORITHM=HS256
CIPHER_SECRET_KEY=
CIPHER_PUBLIC_KEY=
CIPHER_ACCESS_TOKEN_EXPIRE_SECONDS=3600
CIPHER_REFRESH_TOKEN_EXPIRE_SECONDS=2592000
